/*General*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    margin: 0 auto;
    min-width: 320px;
    width: 1920px; 
    height: 800px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    font-family: Inter, sans-serif; 
}

ul {
    list-style-type: none;
}

a {
    color:rgba(92, 100, 110, 1);
    font-size: 13px;
    font-weight: 400;
    line-height: 140%;
    transition: 0.5s;
    text-decoration: none;
}


/*Header*/

.header {
    width: 1920px;
    height: 257px;
}

.container-1 {
    width: 1920px;
    height: 37px;
    margin-top: 18px;
    border-bottom: solid 1px rgba(237, 239, 243, 1);
    display: flex;
}

.top_menu {
    margin-bottom: 18px;
    margin-left: 290px;
}

.top_menu_list{
    display: flex;
    gap: 60px;
}

.mail_box {
    margin-left: 253.5px;
    display: flex;
    cursor: pointer;
    margin-right: 290px;
}

.mail_img {
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

.mail_text {
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
    color: rgba(92, 100, 110, 1);
}

.container-2 {
    width: 1340px;
    height: 60px;
    margin-top: 35px;
    /* border-bottom: solid 1px rgba(237, 239, 243, 1); */
    display: flex;
    align-items: center;
    align-self: center;
    margin-left: 290px;
    margin-right: 290px;
}

.logo_img {
    width: 196px;
    height: 56px;
    background-size: contain;
    background-repeat: no-repeat;  
    transition: 0.5s;
}

.geo_box {
    display: flex;
    cursor: pointer;
    margin-left: 35px;
    width: 213px;
    height: 60px;
    gap: 8px;
    border-radius: 10px;
    border: solid 1px rgba(237, 239, 243, 1);
    padding-top: 18px;
    padding-right: 33px;
    padding-bottom: 18px;
    padding-left: 22px;
}

.geo_img {
    width: 24px;
    height: 24px;
}

.geo_text {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: rgba(146, 189, 255, 1);
    text-underline-offset: 6px; 
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: rgba(29, 34, 41, 1);
}

.adress_box {
    width: 302px;
    height: 42px;
    font-weight: 400;
    font-size: 13px;
    line-height: 160%;
    color: rgba(92, 100, 110, 1);
    margin-left: 20px;
    margin-right: 41px;
}


.phone_box {
    width: 162px;
    height: 51px;
}

.bold_number {
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 18px;
    line-height: 135%;
    color: rgba(34, 36, 42, 1);
}

.thin_text {
    padding-left: 20px;
    font-weight: 400;
    font-size: 13px;
    line-height: 160%;
    color: rgb(92, 100, 110);
}

.order_btn {
    display: flex;
    align-items: center;
    align-self: center;
    text-align: center;
    border: none;
    color: rgba(255, 255, 255, 1);
    width: 192px;
    height: 60px;
    gap: 6px;
    border-radius: 10px;
    padding-top: 18px;
    padding-right: 30px;
    padding-bottom: 18px;
    padding-left: 22px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(22, 113, 249, 1);
    font-weight: 500;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 2%;
    cursor: pointer;
}

.phone_img {
    width: 24px;
    height: 24px;
}

.telegram_box {
    width: 60px;
    height: 60px;
    gap: 12px;
    padding: 18px;
    border-radius: 10px;
    border: solid 1px rgba(237, 239, 243, 1);
    margin-right: 20px;
    cursor: pointer;
}

/* .telegram_img {
    width: 24px;
    height: 24px;
} */

.whatsapp_box {
    width: 60px;
    height: 60px;
    gap: 12px;
    padding: 18px;
    border-radius: 10px;
    border: solid 1px rgba(237, 239, 243, 1);
    cursor: pointer;
}

/* .whatsapp_img {
    width: 24px;
    height: 24px;
} */

.container-3 {
    width: 1920px;
    height: 72px;
    margin-top: 35px;
    padding-top: 26px;
    border-top: solid 1px rgba(237, 239, 243, 1);
    border-bottom: solid 1px rgba(237, 239, 243, 1);
    display: flex;
}

.bottom_menu {
    margin-left: 290px;
}

.bottom_menu_list{
    display: flex;
    gap: 105px;
}

/* .bottom_menu li:last-child{
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    align-self: center;
    width: 205px;
    height: 70px;
    gap: 10px;
    padding-top: 15px;
    padding-right: 28px;
    padding-bottom: 15px;
    padding-left: 22px;
    border: solid 1px rgba(237, 239, 243, 1);
} */


.last_menu_item{
    display: flex;
    text-align: center;
    align-items: center;
    align-self: center;
    margin-left: 88px;
    margin-bottom: 26px;
    width: 205px;
    height: 70px;
    gap: 10px;
    padding-top: 15px;
    padding-right: 28px;
    padding-bottom: 15px;
    padding-left: 22px;
    border-left: solid 1px rgba(237, 239, 243, 1);
    border-right: solid 1px rgba(237, 239, 243, 1);
    cursor: pointer;
}


.vector_img {
    margin-left: 6px;
}

.discount_img {
    width: 24px;
    height: 24px;
}

.bottom_menu_link {
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;
    color: rgba(29, 34, 41, 1);
}

.bottom_menu_item {
    cursor: pointer;
}

/*Main*/

.main {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.inform-section {
    width: 995px;
    height: 442px;
    margin-left: 290px;
    border-radius: 16px;
    padding: 60px;
    gap: 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgba(248, 250, 253, 1);
    align-items: center; 
    justify-content: center;
}

.text-wrapper {
    width: 41%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    margin-right: 32px;
}

.img-wrapper {
    width: 59%;
    position: relative;
}

.zero_img {
    width: 466px;
    height: 305px;
}

.men_img {
    position: absolute;
    width: 456px;
    height: 415px;
    margin-top: -40px;
}

.inform-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 20px;
}

.inform-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: rgba(92, 100, 110, 1);
    margin-bottom: 30px;
}

.info_btn {
    width: 170px;
    height: 54px;
    border-radius: 10px;
    gap: 6px;
    padding: 18px, 24px, 18px, 24px;
    border: solid 1px rgba(237, 239, 243, 1);
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 2%;
}

.form-section {
    width: 345px;
    height: 442px;
    border-radius: 16px;
    gap: 20px;
    width: 345;
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    margin-right: 290px;
    background: linear-gradient(88.82deg, #283D5A 15.68%, #395682 91.15%);
}

/* .form-info {
    text-align: center;
} */

.form-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 10px;
}

.form-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 160%;
    color: rgba(146, 189, 255, 1);
    margin-bottom: 20px;
}

.check {
    display: flex;
    width: 265px;
    height: 34px;
    gap: 10px;
    margin-bottom: 20px;
}

.square {
    align-self: center;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
}

.label {
    font-weight: 400px;
    font-size: 12px;
    line-height: 140%;
    color: rgba(255, 255, 255, 1);
}

.personal {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: rgba(146, 189, 255, 1);
    cursor: pointer;
}

.form-btn {
    width: 265px;
    height: 60px;
    border-radius: 10px;
    gap: 6px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    border: none;
    background-color: rgba(22, 113, 249, 1);
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 2%;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.input-wrapper {
    position: relative;
    display: inline-block;
}

.input-wrapper input {
    width: 265px;
    height: 60px;
    border-radius: 10px;
    gap: 12px;
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    border: none;
    margin-bottom: 20px;
}

.input-placeholder {
    position: absolute;
    top: 37%;
    left: 24px;
    transform: translateY(-50%);
    pointer-events: none;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: rgba(159, 161, 165, 1)
  }
  
  .input-placeholder .red {
    color: red;
  }

  input:focus + .input-placeholder {
    display: none;
  }